<div style="display: flex; flex-direction: column;">
Add ponies:
<div style="display: flex; flex-direction: row;">
<input type="text" [(ngModel)]="ponyName" />
<input [(colorPicker)]="color" [style.background]="color" [value]="color"/>
<button (click)="addPony()">Add pony!</button>
</div>
<p *ngIf="players.length > 0">Ponies added:</p>
<div *ngFor="let player of players" style="display: flex; flex-direction: row;" [ngStyle]="{'color': player.color}">
    {{ player.name }}
</div>
<button *ngIf="players.length > 0" (click)="gallop()">LET'S GALLOP!</button>
</div>