<div style="display: flex; flex-direction: column">
  <table #entryTable class="table table-sm" style="display: block; height: 500px; overflow-y: scroll;">
    <tbody>
      <tr *ngFor="let entry of entries" [ngStyle]="{'color': entry.player.color, 'width': '100%'}">
        <td><b>{{entry.player.name}}</b></td>
        <td style="display:inline-block; position:relative; width: 100%">
          <span>{{entry.text}}</span>
          <div *ngIf="!this.settings.showText && state==='waiting'" style="position:absolute; left:0; right:0; top:0; bottom:0; background: black;"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <span [ngStyle]="{'color': players[currentPlayer].color}">It's <b>{{players[currentPlayer].name}}'s</b> turn!</span>
  <textarea
  (keyup)="keyFunction($event)"
  [(ngModel)]="textarea"
  [readonly]="state==='waiting'"
  [ngStyle]="{'background': state==='waiting'?'grey':'white'}"
  autofocus
  #textArea
  ></textarea>
  <ngb-progressbar *ngIf="state==='typing'" type="danger" [value]="progressBarValue"></ngb-progressbar>
  <button (click)="export()">EXPORT STORY</button>
  <div *ngIf="storyExported" style="display: flex; flex-direction: column">
    <div *ngFor="let entry of entries" style="display: flex; flex-direction: column">
      <span><b>{{entry.player.name}}:</b></span>
      <span>{{entry.text}}</span>
    </div>
  </div>
</div>
