<div style="display: flex; flex-direction: column;">
  <label for="showConfig">Show Config</label>
  <input id="showConfig" type="checkbox" [(ngModel)]="showSettings"/>
</div>
<div *ngIf="showSettings" style="display: flex; flex-direction: column; background-color:blue;">
  <p>Hello and welcome to the settings tab.</p>
  <p>If you didn't like the defaults you can change them here you whiny bitch</p>
  <div style="display: flex; flex-direction: column;">
    <label for="showTextBox">Show Text</label>
    <input id="showTextBox" type="checkbox" [(ngModel)]="showText" />
    <label for="turnTimeBox">Turn Time</label>
    <input id="turnTimeBox" type="number" [(ngModel)]="turnTime" />
    <button (click)="acceptConfig()"> Refresh Config !!! </button>
  </div>
</div>
